@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('fonts/Montserrat.woff2') format('woff2'),
        url('fonts/Montserrat.woff') format('woff'),
        url('fonts/Montserrat.ttf');
}

body, h1, h2, p {
    margin: 0;
    font-weight: 400;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: clamp(1.125rem, 4vw, 1.8rem);
    background-color: #000000;
    color: #FFFFFF;
}

noscript {
    font-size: 0.8em;
}

.container {
    max-width: 800px;
    padding: 0 28px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    min-height: 100lvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.index {
    vertical-align: bottom;
    font-size: 0.6em;
}

.header {
    flex-direction: column;
    background: fixed top 55px right 34px / clamp(130px, 18vw, 165px) no-repeat url('imgs/ornament11.svg'),
        fixed top calc(100svh - clamp(130px, 20lvh, 181px)) left 30px / clamp(130px, 20lvh, 181px) no-repeat url('imgs/ornament12.svg');
}

.header__title {
    font-size: clamp(1.9rem, 9vw, 4rem);
    margin-bottom: 32px;
    letter-spacing: 0.3vw;
    animation: title 3s ease-in-out;
    white-space: nowrap;
}

.calculating {
    color: #000000;
    background: 0 0 / clamp(130px, 18vw, 165px) no-repeat url('imgs/ornament21.svg'),
        bottom 30px right 0 no-repeat url('imgs/ornament22.svg');
    background-color: #72B2E1;
}

.calculating h2 {
    margin-bottom: 10px;
}

.calculating__text {
    margin-bottom: 20px;
}

.calculating__formula {
    width: min(330px, 100%);
    margin: 0 auto 70px;
    display: block;
}

.calculating__input {
    font-family: inherit;
    display: block;
    background-color: #00000033;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 12px 30px;
    color: #FFFFFF;
    font-size: 2rem;
    width: 200px;
    margin: 0 auto;
}

.calculating__input:focus {
    outline: none;
}

.caluclating__result {
    text-align: center;
    margin-top: 25px;
    font-size: 2rem;
}

.brackets__gif-wrapper {
    width: 100%;
}

.brackets__gif {
    object-fit: cover;
    width: 100%;
}

.brackets__title {
    margin-bottom: 0.75em;
}

.brackets__paragraph {
    margin-bottom: 1.3em;
}

.brackets__paragraph--right {
    text-align: right;
}

.brackets__example {
    font-size: 1.6em;
    text-align: center;
}

.recurrent {
    padding-top: 40px;
}

.recurrent p {
    margin: 20px 0;
}

.recurrent img {
    display: block;
    margin: 0 auto;
    width: min(400px, 100%);
}

.examples {
    background-color: #BEBEBE;
    color: #000000;
}

.examples__problem {
    margin: 20px 0;
}

.examples__solvation {
    padding: 20px 15px 30px;
    border: 1px solid #000;
    border-radius: 40px;
    position: relative;
}

.examples__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaaaaa80;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.2em);
    cursor: pointer;
    transition: all .5s;
}

.examples__overlay--hidden {
    opacity: 0;
    visibility: hidden;
}

.footer {
    padding: 10px;
    background-color: #222222;
    color: #CCCCCC;
    font-size: 1.5rem;
    text-align: center;
}

.footer__email {
    color: inherit;
}

.footer__ending {
    margin-top: 10px;
    font-size: 1rem;
}

@keyframes title {
    0% {
        opacity: 0;
        letter-spacing: 0.3vw;
    }

    1% {
        opacity: 0;
        letter-spacing: 40px;
    }

    100% {
        opacity: 1;
        letter-spacing: 0.3vw;
    }
}